@keyframes redraw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .99;
  }
}

html,html[data-theme='light'] {
  animation: redraw 10s linear infinite alternate;
  --popup-bg-color: #fff;
  --dropdown-bg-color:#FAFAFA;
  --dropdown-shadow:0px 8px 24px -8px #B6B7B7;
  --box-border:1px solid #EBEBEC;
  --box-hover-bg:#fff;
  --window-bg-color:#fff;
  --window-title-color:#000;
  --window-title-hover-bg-color:#F0FBFC;
  --tab-title-color:#78787C;
  --tab-title-hover-color:#32302E;
  --option-item-color:#001529B2;
  --option-item-bg-hover-color:#52EDFF;
  --icon-color:#333;
  --userinfo-hover-bg:rgba(0, 0, 0, 0.08);
}
html[data-theme='dark'] {
  --popup-bg-color: #010409;
  --dropdown-bg-color:#161B22;
  --dropdown-shadow:0px 8px 24px -8px #010409;
  --box-border:1px solid #30363D;
  --box-hover-bg:#1A222E;
  --window-bg-color:#0D1117;
  --window-title-color:#fff;
  --window-title-hover-bg-color:none;
  --tab-title-color:rgba(255, 255, 255, 0.5);
  --tab-title-hover-color:#fff;
  --option-item-color:#fff;
  --option-item-bg-hover-color:#52EDFF;
  --icon-color:#eee;
  --userinfo-hover-bg:rgba(255, 255, 255, 0.08);
}
body {
  --main-btn-txt-color:#273F43;
  --main-btn-bg-color:#52E9FB;
  --main-btn-hover-bg-color:#56CCDA;
  background: var(--popup-bg-color);
  overflow: auto;
  padding: 0;
  margin: 0;
  caret-color:rgb(5, 108, 242) ;
}
