@keyframes redraw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .99;
  }
}
html {
  animation: redraw 1s linear infinite;
}
body {
  overflow: auto;
  padding: 0;
  margin: 0;
  caret-color:rgb(5, 108, 242) ;
}
