@keyframes redraw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .99;
  }
}
html {
  animation: redraw 10s linear infinite alternate;
  --popup-bg-color: #fff;
  --dropdown-bg-color:#FAFAFA;
  --dropdown-shadow:0px 8px 24px rgba(182, 183, 183, 1);
  --box-border:1px solid #EBEBEC;
  --box-hover-bg:#fff;
  --window-bg-color:#fff;
  --window-title-color:#000;
  --window-title-hover-bg-color:#F0FBFC;
  --tab-title-color:#78787C;
  --tab-title-hover-color:#32302E;
  --option-item-color:#001529B2;
  --option-item-bg-hover-color:#52EDFF;
  --icon-color:#333;
}
@media (prefers-color-scheme: dark) {
  html{
    --popup-bg-color: #010409;
    --dropdown-bg-color:#161B22;
    --dropdown-shadow:0px 8px 24px rgba(1, 4, 9, 1);
    --box-border:1px solid #30363D;
    --box-hover-bg:#1A222E;
    --window-bg-color:#0D1117;
    --window-title-color:#fff;
    --window-title-hover-bg-color:none;
    --tab-title-color:rgba(255, 255, 255, 0.5);
    --tab-title-hover-color:#fff;
    --option-item-color:#fff;
    --option-item-bg-hover-color:#52EDFF;
    --icon-color:#eee;
  }
}
body {
  background: var(--popup-bg-color);
  overflow: auto;
  padding: 0;
  margin: 0;
  caret-color:rgb(5, 108, 242) ;
}
